#aboutBody {
    height: calc(100vh);
}

#page-content {
    width: 60%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    font-size: 18px;
}